* {
    margin: 0;
    padding: 0;
    font-family: "본고딕", sans-serif;
}

body {
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    width: 1280px;
    background-image: url("res/space_bg.jpg");
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

#wrap {
    background: url("res/top_background_fill.png") repeat-x rgb(240, 240, 240);
}

/*header styles*/

#header {
    background: url("res/top_background.png") no-repeat right;
    height: 134px;
    text-align: center;
}

.topMenu {
    height: 27px;
    vertical-align: middle;
}

.topMenu ul {
    height: 100%;
    vertical-align: middle;
}

.topMenu ul li {
    display: inline;
    vertical-align: middle;
    margin-left: 5px;
}

.topMenu ul li:not([class="last"]) {
    border-right: groove white 1px;
}

.topMenu #top_srch:hover {
    content: url("res/icon_srch_on.png");
}

.topMenu #top_children:hover {
    content: url("res/icon_kids_on.png");
}

.topMenu #top_global:hover {
    content: url("res/icon_global_on.png");
}

.topMain {
    height: 107px;
}

.topMain > .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.topMain > .searchers {
    position: relative;
    top: -60px;
    text-align: right;
}

#unified_search_form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.searchers > #unified_search_form > input {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px;
    width: 300px;
}

#unified_search_form > input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
}

#unified_search_form > a {
    border: ridge rgba(255, 255, 255, 0.5) 2px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.75);
    margin-left: 5px;
}

.searchers > .keywords > ul::before {
    content: url("res/magnifier.png");
}

.searchers > .keywords > ul {
    margin-right: 100px;
}

.searchers > .keywords li {
    display: inline-flex;
    margin-left: 10px;
}

.searchers > .keywords li > a {
    display: inline-flex;
    color: rgba(255, 255, 255, 0.75);
    font-size: 13px;
}

.navigator {
    display: flex;

}

.navigator li {
    display: inline-block;
}

.navigator > .main {
    display: inline-flex;
    justify-content: center;
    width: 50%;
}

.navigator > .main li {
    margin-left: auto;
    margin-right: auto;
}

.navigator > .recent_issues {
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
}

.navigator > .recent_issues li {
    width: 180px;
    border: ridge mediumpurple 3px;
    background: linear-gradient(to bottom right, rgb(66, 94, 155), rgb(143, 58, 81));
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

.navigator > .recent_issues li > a {
    color: rgba(255, 255, 255, 0.75);
}

/*contents styles*/

#container {
    display: flex;
    justify-content: center;
    margin-top: 120px;
=
}

#container .wrapper {
    margin-right: 2%;
    margin-left: 2%;
}

#container .main_notice {
    display: block;
    margin-right: 1%;
    margin-left: 1%;
}

#container .main_notice .left {
    display: inline-block;
    width: 62%;
}

.main_notice .left .article01 {
    display: block;
    margin-bottom: 2%;
    background-color: white;
}

.article01 > .title {
    display: flex;
    align-items: center;
    background-color: rgb(205, 74, 74);
    padding: 6px 10px 6px 10px;
}

.article01 > .title > .subject {
    display: inline-flex;
    width: 50%;
}

.article01 > .title > .more {
    display: inline-flex;
    justify-content: flex-end;
    width: 50%;
}

.article01 > .article01_contents {
    display: flex;
}

.article01 > .article01_contents > .post {
    display: inline-block;
    overflow: auto;
    width: 40%;
    margin: 50px;
}

.article01 .post > .subject {
    display: block;
    font-size: 27px;
}

.article01 .post > .date {
    display: block;
    font-size: 15px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.article01 .post > p {
    margin-bottom: 1em;
}

.article01 .post > .share li {
    display: inline;
}

.article01 > .article01_contents > .media {
    display: inline-block;
    overflow: hidden;
    margin: 20px;
}

.main_notice .left .article02 {
    display: block;
    margin-top: 2%;
    background-color: white;
    overflow: hidden;
    padding: 50px;
}

.article02 h2 img {
    display: block;
    margin-bottom: 10px;
}

.article02 > .article02_contents {
    display: flex;
}

.article02 .thumbnail {
    display: inline-block;
    margin-right: 20px;
}

.article02 > .post {
    display: inline-block;
}

.article02 .post > .subject {
     display: block;
     font-size: 22px;
 }

.article02 .post > .date {
    display: block;
    font-size: 12px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.article02 .post > p {
    margin-bottom: 1em;
}

.article02 .post > .share li {
    display: inline;
}

#container .main_notice .right {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-left: 1%;
}

.right > .article03 {
    display: block;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.right > .article04 {
    display: block;
    background-color: white;
    border-radius: 10px;
    border: dotted indianred 4px;
    padding: 9px 15px 9px 15px;
}

.right .article04 img {
    background-color: rgb(205, 74, 74);
    padding: 9px 15px 9px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.article04 .button {
    margin-top: 1em;
    display: inline-block;
    background-color: indianred;
    border-radius: 5px;
    padding: 2px;
}

.article04 .button a {
    color: white;
}

#container .main_policy {
    display: block;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 5%;
    text-align: center;
    background-color: white;
}

.main_policy > .title {
    display: flex;
    align-items: center;
    background-color: rgb(205, 74, 74);
    padding: 6px 10px 6px 10px;
}


.main_policy > .title > .subject {
    display: inline-flex;
    width: 50%;
}

.main_policy > .title > .more {
    display: inline-flex;
    justify-content: flex-end;
    width: 50%;
}

.main_policy ul {
    padding-top: 30px;
    padding-bottom: 30px;
}

.main_policy li {
    display: inline-flex;
    width: 30%;
}

/*gwanghwamun styles*/

#container2 {
    display: flex;
    margin-top: 120px;
}

#container2 #Gwanghwamun {
    width: 800px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
}

/*footer styles*/

footer {
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
    color: black;
    padding: 10px 15px 10px 15px;
}

footer ul {
    margin-bottom: 10px;
    margin-top: 10px;
}

footer li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

footer a {
    text-decoration: underline;
}

footer address {
    margin-bottom: 20px;
}

footer .logo_open {
    display: inline-block;
}

footer .sns {
    margin-left: 40px;
    display: inline-block;
}